<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Online shop - Tech</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootswatch/dist/materia/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" />
  <link rel="stylesheet" href="bower_components/css-hamburgers/dist/hamburgers.css" />
  <link rel="stylesheet" href="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">

  <base href="/">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="eshopApp" ng-controller="LoginController">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" ui-sref="home"><img class="logo"
            src="https://avada.theme-fusion.com/landing-product/wp-content/uploads/sites/53/2015/10/interaction_icon.png"></a>
        <button class="navbar-toggler hamburger hamburger--elastic" type="button" data-toggle="collapse"
          data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav primary ml-auto mr-1">
            <li class="nav-item">
              <a class="nav-link" ui-sref="home" ui-sref-active="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="about" ui-sref-active="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="products" ui-sref-active="active">Products</a>
            </li>
          </ul>
          <div class="dropdown mr-2 currenc">
            <select class="form-control" ng-model="currency" ng-options="c.currency for c in currencies">

            </select>
          </div>
          <div ng-controller="searchController" class="search-products">

            <form ng-submit="click(search);">
              <input class="form-control search" type="text" ng-focus="focus()" ng-blur="blur()" ng-model="search"
                list="names" placeholder="Search products...">
              <datalist ng-click="click()" ng-show="show||mouseover" ng-mouseover="mouseover=true"
                ng-mouseleave="mouseover=false" id="names" class="form-control pretraga" ng-model="name">
                <h5 class="text-center col-md-12 d-block" ng-hide="products.length">No products.</h5>
                <div ng-repeat="option in products | filter:search | limitTo:3" value="{{option.name}}">

                  <a class="productSearchName d-flex" ui-sref="product({id:option.id})">
                    <h5 class="col-md-6 p-0 no-text-underline m-0">{{option.name}}</h5>
                    <div class="search-img text-center col-md-6 pl-0 pr-0"
                      style="background:url('{{option.imageurl}}')">
                    </div>
                  </a>
              </datalist>
            </form>
          </div>
        </div>
        <a ui-sref="summary">
          <ngcart-summary template-url="views/summary.html"></ngcart-summary>
        </a>

        <li class="nav-item logIn" ng-hide="loggedIn">
          <a class="nav-link btn btn-primary" ui-sref="login" ui-sref-active="active">Login <i
              class="fas fa-sign-in-alt"></i></a>
        </li>
        <ul ng-show="loggedIn" class="nav nav-pills d-sm-none d-sm-block profile">

          <li class="nav-item dropdown rightMenu">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
              aria-expanded="false">{{displayName}} <i class="far fa-user"></i></a>
            <div class="dropdown-menu shadow-lg"> <a class="dropdown-item" ng-if="userUID === adminUID"
                ui-sref="addproduct">Add product</a>
              <a class="dropdown-item" ng-if="userUID === adminUID" ui-sref="category">Categories</a>
              <a class="dropdown-item" ui-sref="products">Products</a>
              <a class="dropdown-item" ui-sref="orders">Orders <span class="badge badge-primary orderNumber"
                  ng-model="orderNumber" ng-controller="orderController">{{orderLength}}</span></a>
              <a class="dropdown-item" ng-if="userUID === adminUID" ui-sref="allorders">All orders</a>
              <div class="dropdown-divider m-0"></div>
              <a href="" class="dropdown-item btn-danger logout text-white" ng-click="signOut()">Log out <i
                  class="fas fa-sign-out-alt"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <ui-view></ui-view>
  <a id="button"><i class="fas fa-angle-double-up text-white"></i></a>
  <div class="footer bg-dark pt-3 pb-3 mt-5">
    <div class="container">
      <p class="text-center m-0">Ecommerce shop | Tarik Dedić</p>
    </div>
  </div>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_de-de.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="bower_components/ngCart/dist/ngCart.js"></script>
  <script src="bower_components/tinymce/tinymce.js"></script>
  <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <script src="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/products.js"></script>
  <script src="scripts/controllers/product.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/register.js"></script>
  <script src="scripts/controllers/addProduct.js"></script>
  <script src="scripts/controllers/editProduct.js"></script>
  <script src="scripts/controllers/currency.js"></script>
  <script src="scripts/controllers/categories.js"></script>
  <script src="scripts/scripts.js"></script>
  <script src="scripts/controllers/checkoutController.js"></script>
  <script src="scripts/controllers/orders.js"></script>
  <script src="scripts/controllers/allorders.js"></script>
  <script src="scripts/controllers/main.js"></script>



  <!-- endbuild -->
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyB14yJcAbsK7orY-3PIo9DViRZccf6jbCc",
      authDomain: "shop-7065d.firebaseapp.com",
      databaseURL: "https://shop-7065d.firebaseio.com",
      projectId: "shop-7065d",
      storageBucket: "shop-7065d.appspot.com",
      messagingSenderId: "188708438008"
    };
    firebase.initializeApp(config);
  </script>


</body>

</html>